<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>app</h1>
    <div *ngFor='let hero of heroes'>
        <p>name:{{hero.name}}</p>
        <p>age:{{hero.age}}</p>
    </div>
    <nav>
        <a routerLink='/herolist'>herolist</a>
        <a routerLink='/heroparent'>heroparent</a>
        <a routerLink='/car'>car</a>
        <a routerLink='/votaker'>votaker</a>
        <a routerLink='/http'>http</a>
        <a routerLink='/form'>form</a>
    </nav>
    <router-outlet></router-outlet>
</div>

<!-- <app-hero-list></app-hero-list>
<app-hero-parent></app-hero-parent>
<app-votetaker></app-votetaker>
<app-forms></app-forms>
<app-car></app-car>
<app-http></app-http> -->