/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.fg {
    flex: 1
}

.a-center {
    align-items: center
}

.j-center {
    justify-content: center
}

.active {
    color: red !important;
}