// common
* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex
}

.fg {
    flex: 1;
}

// 左右居中
.j-center {
    justify-content: center
}

// 上下居中
.a-center {
    align-items: center
}

// 靠右
.flex-end {
    justify-content: flex-end;
}

//两边分布
.flex-bet {
    justify-content: space-between
}

//均匀分布
.flex-around {
    justify-content: space-around
}

// 垂直分布
.flex-column {
    flex-direction: column
}

.errormsg {
    color: red;
}

$mc: #eef1f6;
// index
.left-menu {
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $mc;
    z-index: 11111;
}

.right-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 10px 10px 10px;
    margin-left: 220px;
    .user-bar {
        height: 50px;
        margin-bottom: 10px;
        background: $mc;
        padding: 0 10px;
    }
}

.bottom-btn {
    width: 100%;
    display: block;
    text-align: center
}